@import 'swiper/css/bundle';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.meetExecSwiper .swiper-pagination-bullet-active {
  background-color: #EE6055 !important;
  opacity: 1;
}

.eventsSwiper .swiper-pagination-bullet-active {
  background-color: #FFA700 !important;
  opacity: 1;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
